---
IndentWidth: 2
ColumnLimit: 150
LineEnding: LF
---
Language: Cpp

AccessModifierOffset: 0
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignTrailingComments: Always
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: false
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
PPIndentWidth: 2
PointerAlignment: Left
SortIncludes: Never
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: true
IndentAccessModifiers: true
---
